<div class = authentication>
  <div class = authentication-wrapper>
    <h3>ログイン</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "パスワードを記憶しますか?" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class:"btn waves-effect waves-light authentication-btn" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>