<%= search_form_for(@q, url: search_users_path, class:"section", remote: true) do |f|%>
  <div class="input-field col s12">
    <%=f.select :address_eq, User.addresses.map{|key,value| [key, value]}, {include_blank: "指定なし"}, class:"search_form search_form_address"%>
      <%=f.label :address_eq, "所在地"%>
  </div>
  <div class="input-field col s12">
    <%=f.select :genre_eq, User.genres.map{|key,value| [key, value]}, {include_blank: "指定なし"}, class:"search_form search_form_genre"%>
      <%=f.label :genre_eq, "ジャンル"%>
  </div>
  <div class="input-field col s12">
    <%=f.select :people_eq, User.people.map{|key,value| [key, value]}, {include_blank: "指定なし"}, class:"search_form search_form_people"%>
      <%=f.label :people_eq, "人数"%>  
  </div>
  <div class="col s12 center">
    <%=f.submit "検索する", class:"waves-effect waves-light btn-large" %>
  </div>
<% end %>