
  
    <%= form_with url: result_user_path(current_user), method: :get, class:"section" do |f|%>
      <div class="input-field col s12 ">
        <%=f.select :address, User.addresses.keys.map {|k| [I18n.t("enums.user.address.#{k}"), k]}, {include_blank: true, selected: "noaddress"}%>
          <%=f.label :address, "所在地"%>
      </div>
      <div class="input-field col s12">
        <%=f.select :genre, User.genres.keys.map {|k| [I18n.t("enums.user.genre.#{k}"), k]}, {include_blank: true, selected: "nogenre"}%>
          <%=f.label :genre, "ジャンル"%>
      </div>
      <div class="input-field col s12">
        <%=f.select :people, User.people.keys.map {|k| [I18n.t("enums.user.people.#{k}"), k]}, {include_blank: true, selected: "nopeople"}%>
          <%=f.label :people, "人数"%>
      </div>
      <div class="col s12 center">
        <%=f.submit "検索する", class:"waves-effect waves-light btn-large" %>
      </div>
      <% end %>


