<div class="col s12">
    <div class="card horizontal">
    <div class="card-image">
      <%= image_tag select_image(partner) %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
       <span class="card-title"><%= partner.name %></span>
        <p><%= select_profile(partner) %></p>
      </div>
      <div class="card-action">
      <div class="between-btn section" data-user="<%=current_user.id%>" data-partner="<%=partner.id%>">
        <%=render partial: 'button', locals:{partner: partner, type: button}%>
      </div>
      <%=link_to user_path(partner), class:"waves-effect waves-light btn" do %>プロフィールを見る<%end%>
      </div>
    </div>
  </div>
</div>
