<div class="row container">
  <div class="col s12 m4 l3">
    <div class="card-image section">
      <%= image_tag select_image(@partner), class:"responsive-img" %>
    </div>
    <ul class="collection">
      <li class="collection-item">
        <%= @partner.name %>
      </li>
      <li class="collection-item">所在地：
        <%= @partner.address %>
      </li>
      <li class="collection-item">区分：
        <%= @partner.division %>
      </li>
      <li class="collection-item">人数：
        <%= @partner.people %>
      </li>
    </ul>
    <%if @partner.audio.present?%>
      <%=audio_tag @partner.audio, autoplay:false, controls: true%>
    <%end%>  
    <%= render partial: "button", locals: {partner: @partner, type: @button}%>
  </div>
  <div class="col s12 m8 l9">
    <div class="section">
      <p> プロフィール： </p>
      <p>
        <%=select_profile(@partner)%>
      </p>
    </div>
  </div>
</div>
